<div class="profile-view__image-container">
  <img class="profile-view__image" src="assets/imgs/profile-placeholder.png" alt="">
</div>

<div *ngIf="userProfile" >
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input [value]="userProfile.email" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input [value]="userProfile.firstName" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input [value]="userProfile.lastName" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Date of Birth</ion-label>
        <ion-input [value]="userProfile.dateOfBirth" [disabled]="true"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>
